<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bird.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C25FDE3D1F7B53F100F75F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25FDE571F7B53F100F75F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C25FDE621F7B53F100F75F2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
